.app-base {
  /* Remove white border around webpage */
  margin: 0;
}

.base-navbar {
  align-items: center;
  background-color: rgb(17, 53, 145);
  color: white;
  display: flex;
  flex-direction: row;
  padding: 0.5rem 1rem;
}

.content {
  margin: 5rem 10rem;
}

.conference {
  display: flex;
  flex-direction: row;
}

.division {
  display: flex;
  flex-direction: column;
}

.division h3 {
  margin-bottom: 0;
}

.division .team-link {
  color: white;
  text-decoration: none;
}

.division .team {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 1.5rem;
  width: 10rem;
}

.division .team:hover {
  cursor: pointer;
  background-color: rgb(22, 64, 171);
}

.dropdown {
  background-color: rgb(17, 53, 145);
  width: fit-content;
}

.dropdown-content {
  padding: 0.75rem;
  display: flex;
  flex-direction: row;
}

.dropdown-link-container {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 2rem;
  justify-content: center;
}

.dropdown-link-container:hover {
  background-color: rgb(22, 64, 171);
}

.dropdown-link {
  color: white;
  text-decoration: none;
}

.dropdown-links {
  display: flex;
  flex-direction: column;
  flex: 0.15;
}

.dropdown-teams {
  padding: 0 0 0 2rem;
  flex: 0.85;
}


.dropdown-team-logo-container {
  width: 2.25rem;
}

.dropdown-team-logo {
  object-fit: contain;
  width: 1.5rem;
  height: 1.5rem;
}

#hr {
  background: rgb(55, 55, 55);
  width: 0.1rem;
}

.league {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.navbar-dropdown {
  position: relative;
}

.navbar-dropdown .dropdown {
  margin-top: 1rem;
  border-radius: 0 0 0.5rem 0.5rem;
  position: absolute;
  max-height: 0;
  width: 45rem;
  overflow: hidden;
  transition: all 0.5s ease-out;
}

.navbar-dropdown:hover .dropdown {
  max-height: 1000rem; /* Value dropdown will never reach*/
  transition: all 1s ease-in;
}

.navbar-logo {
  cursor: pointer;
  height: 2.25rem;
  margin-right: 3rem;
}

