{% load static %}

<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}" />
    <title>Sports Hub</title>
  </head>
  <body class="app-base">
    <div class="base-navbar">
      <img class="navbar-logo" src="{% static 'logo.png' %}" />
      <div class="navbar-dropdown">
        <a class="league" href="{% url 'nfl_index' %}">NFL</a>
        <div class="dropdown">
          <div class="dropdown-content">
            <div class="dropdown-links">
              <div class="dropdown-link-container">
                <a class="dropdown-link" href="{% url 'nfl_index' %}">Home</a>
              </div>
              <div class="dropdown-link-container">
                <a class="dropdown-link" href="{% url 'nfl_teams' %}">Teams</a>
              </div>
              <div class="dropdown-link-container">
                <a class="dropdown-link" href="{% url 'nfl_schedule' %}">Schedule</a>
              </div>
              <div class="dropdown-link-container">
                <a class="dropdown-link" href="{% url 'nfl_standings' %}">Standings</a>
              </div>
            </div>
            <div class="dropdown-teams">
              <div class="conference">
                <div class="division">
                  <h4>NFC East</h4>
                  {% for team in nfc_east_teams %}
                  <a class="team-link" href="{% url 'nfl_team' team.id %}">
                    <div class="team">
                      {% with 'nfl/logos/'|add:team.name|add:'.png' as team_logo_img %}
                        <div class="dropdown-team-logo-container">
                          <img class="dropdown-team-logo" src="{% static team_logo_img %}"/>
                        </div>
                      {% endwith %}
                      {{team.name}}
                    </div>
                  </a>
                  {% endfor %}
                </div>
                <div class="division">
                  <h4>NFC West</h4>
                  {% for team in nfc_west_teams %}
                    <a class="team-link" href="{% url 'nfl_team' team.id %}"> 
                      <div class="team">
                        {% with 'nfl/logos/'|add:team.name|add:'.png' as image_static %}
                          <div class="dropdown-team-logo-container">
                            <img class="dropdown-team-logo" src="{% static image_static %}"/>
                          </div>
                        {% endwith %}
                        {{team.name}}
                      </div>
                    </a>
                  {% endfor %}
                </div>
                <div class="division">
                  <h4>NFC North</h4>
                  {% for team in nfc_north_teams %}
                  <a class="team-link" href="{% url 'nfl_team' team.id %}">
                    <div class="team">
                      {% with 'nfl/logos/'|add:team.name|add:'.png' as image_static %}
                        <div class="dropdown-team-logo-container">
                          <img class="dropdown-team-logo" src="{% static image_static %}"/>
                        </div>
                      {% endwith %}
                      {{team.name}}
                    </div>
                  </a>
                  {% endfor %}
                </div>
                <div class="division">
                  <h4>NFC South</h4>
                  {% for team in nfc_south_teams %}
                  <a class="team-link" href="{% url 'nfl_team' team.id %}">
                    <div class="team">
                      {% with 'nfl/logos/'|add:team.name|add:'.png' as image_static %}
                        <div class="dropdown-team-logo-container">
                          <img class="dropdown-team-logo" src="{% static image_static %}"/>
                        </div>
                      {% endwith %}
                      {{team.name}}
                    </div>
                  </a>
                  {% endfor %}
                </div>
              </div>
              <div class="conference">
                <div class="division">
                  <h4>AFC East</h4>
                  {% for team in afc_east_teams %}
                  <a class="team-link" href="{% url 'nfl_team' team.id %}">
                    <div class="team">
                      {% with 'nfl/logos/'|add:team.name|add:'.png' as image_static %}
                        <div class="dropdown-team-logo-container">
                          <img class="dropdown-team-logo" src="{% static image_static %}"/>
                        </div>
                      {% endwith %}
                      {{team.name}}
                    </div>
                  </a>
                  {% endfor %}
                </div>
                <div class="division">
                  <h4>AFC West</h4>
                  {% for team in afc_west_teams %}
                  <a class="team-link" href="{% url 'nfl_team' team.id %}">
                    <div class="team">
                      {% with 'nfl/logos/'|add:team.name|add:'.png' as image_static %}
                        <div class="dropdown-team-logo-container">
                          <img class="dropdown-team-logo" src="{% static image_static %}"/>
                        </div>
                      {% endwith %}
                      {{team.name}}
                    </div>
                  </a>
                  {% endfor %}
                </div>
                <div class="division">
                  <h4>AFC North</h4>
                  {% for team in afc_north_teams %}
                  <a class="team-link" href="{% url 'nfl_team' team.id %}">
                    <div class="team">
                      {% with 'nfl/logos/'|add:team.name|add:'.png' as image_static %}
                        <div class="dropdown-team-logo-container">
                          <img class="dropdown-team-logo" src="{% static image_static %}"/>
                        </div>
                      {% endwith %}
                      {{team.name}}
                    </div>
                  </a>
                  {% endfor %}
                </div>
                <div class="division">
                  <h4>AFC South</h4>
                  {% for team in afc_south_teams %}
                  <a class="team-link" href="{% url 'nfl_team' team.id %}">
                    <div class="team">
                      {% with 'nfl/logos/'|add:team.name|add:'.png' as image_static %}
                        <div class="dropdown-team-logo-container">
                          <img class="dropdown-team-logo" src="{% static image_static %}"/>
                        </div>
                      {% endwith %}
                      {{team.name}}
                    </div>
                  </a>
                  {% endfor %}
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <main class="content">{% block content %} {% endblock %}</main>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
